.nf {
  display: flex;
  justify-content: center;
  padding: 40px 16px;
}

.nf__card {
  width: 100%;
  max-width: 980px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.08);
  overflow: hidden;

  display: grid;
  grid-template-columns: 1.2fr 1fr;
}

.nf__media {
  background: #fafafa;
}

.nf__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.nf__body {
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nf__title {
  margin: 0;
  font-size: 44px;
  line-height: 1;
}

.nf__text {
  margin: 0;
  color: #555;
  line-height: 1.5;
}

.nf__actions {
  margin-top: 16px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.nf__btn {
  align-self: center;
  /*text-decoration: none;
  padding: 10px 18px;
  border-radius: 999px;
  background: #000;
  color: #fff;
  font-size: 14px;*/
}

@media (max-width: 820px) {
  .nf__card {
    grid-template-columns: 1fr;
  }

  .nf__img {
    height: auto;
  }
}
