:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: inherit;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
}

button {
  border-radius: 0;
  border: none;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: none;
}
button:hover {
  border-color: transparent;
}
button:focus,
button:focus-visible {
  outline: none;
}

/*Se han quitado los modos claro/oscuro de Vite y el h1*/

